In [1]:
#Core
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('CSVs\df_acidentes_sp_moto_CLEAN.csv',sep=',')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53235 entries, 0 to 53234
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ano                   53235 non-null  int64
 1   Mes                   53235 non-null  int64
 2   Dia                   53235 non-null  int64
 3   Dia da Semana         53235 non-null  object
 4   Turno                 53235 non-null  object
 5   Município             53235 non-null  object
 6   Jurisdição            53235 non-null  object
 7   Administração         53235 non-null  object
 8   Conservação           53235 non-null  object
 9   Latitude              53235 non-null  float64
 10  Longitude             53235 non-null  float64
 11  Condições Climáticas  53235 non-null  object
 12  Iluminação            53235 non-null  object
 13  Mão de direção        53235 non-null  object
 14  Relevo                53235 non-null  object
 15  Superfície da via     53235 non-null  object
 16  Tipo de pavimento     53235 non-null  object
 17  Tipo de pista         53235 non-null  object
 18  Traçado               53235 non-null  object
 19  Tipo de Via           53235 non-null  object
 20  Acidente Fatal        53235 non-null  int64
 21  Mes_sin               53235 non-null  float64
 22  Mes_cos               53235 non-null  float64
 23  dias_semana_num       53235 non-null  int64
 24  dias_semana_norm      53235 non-null  float64
 25  dias_semana_sin       53235 non-null  float64
 26  dias_semana_cos       53235 non-null  float64
 27  Hora                  53235 non-null  float64
 28  Minuto                53235 non-null  float64
 29  horario_float         53235 non-null  float64
 30  horario_sin           53235 non-null  float64
 31  horario_cos           53235 non-null  float64
dtypes: float64(12), int64(5), object(15)
memory usage: 13.0+ MB

In [4]:
df_pbi = df[['Ano', 'Mes', 'Dia', 'Dia da Semana', 'Turno', 'Município',
       'Jurisdição', 'Administração', 'Conservação', 'Latitude', 'Longitude',
       'Condições Climáticas', 'Iluminação', 'Mão de direção', 'Relevo',
       'Superfície da via', 'Tipo de pavimento', 'Tipo de pista', 'Traçado',
       'Tipo de Via', 'Acidente Fatal', 'Hora', 'Minuto']]

In [5]:
# df_pbi.to_csv('CSVs\df_acidentes_sp_moto_PBI.csv',index=False)

In [6]:
# importando df inicial para pesquisar problemas de lat e lon achados no PBI
df_init = pd.read_csv('CSVs\df_acidentes_sp_moto.csv',sep=',')

C:\Users\Renato\anaconda3\envs\Data_Science\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.loc[4381, 'Latitude'] = -23.6576625
# df.set_value(4381, 'Latitude', -23.6576625)

In [8]:
df.drop(52483, inplace=True)

In [9]:
df.drop(51779, inplace=True)

In [10]:
df.drop(3084, inplace=True)
df.drop(37283, inplace=True)

In [11]:
df.drop(7798, inplace=True)
df.drop(38256, inplace=True)
df.drop(49113, inplace=True)

In [12]:
df['Conservação'].value_counts()

PREFEITURA                     46612
DR10 - São Paulo                2031
ECOVIAS                          868
NOVADUTRA                        785
VIAOESTE                         716
ECOPISTAS                        591
AUTOBAN                          496
AUTOPISTA REGIS BITTENCOURT      479
CCR RODOANEL                     369
AUTOPISTA FERNÃO DIAS            154
SPMAR                             85
DR02 - Itapetininga               42
Name: Conservação, dtype: int64

In [14]:
df[['Condições Climáticas', 'Hora', 'Minuto','Ano', 'Mes', 'Dia', 'Dia da Semana','Município','Latitude','Longitude']].loc[df['Condições Climáticas']=='CHUVA'].sample(10)

,Condições Climáticas,Hora,Minuto,Ano,Mes,Dia,Dia da Semana,Município,Latitude,Longitude
24155,CHUVA,20.0,20.0,2020,1,28,TERÇA,CARAPICUIBA,-23.5665,-46.83127
40875,CHUVA,9.0,18.0,2019,5,18,SÁBADO,SAO PAULO,-23.5489,-46.63886
41028,CHUVA,6.0,50.0,2019,5,16,QUINTA,SAO PAULO,-23.6364,-46.60647
13718,CHUVA,6.0,43.0,2020,7,29,QUARTA,DIADEMA,-23.6883,-46.62537
8734,CHUVA,6.0,5.0,2020,10,8,QUINTA,GUARULHOS,-23.4549,-46.47286
23851,CHUVA,17.0,32.0,2020,2,2,DOMINGO,SAO PAULO,-23.6921,-46.78267
35828,CHUVA,23.0,25.0,2019,8,4,DOMINGO,SAO PAULO,-23.5518,-46.64414
22555,CHUVA,11.0,5.0,2020,2,21,SEXTA,ITAPEVI,-23.5487,-46.92914
8652,CHUVA,20.0,41.0,2020,10,9,SEXTA,SAO PAULO,-23.6074,-46.69022
19866,CHUVA,17.0,54.0,2020,4,7,TERÇA,SAO PAULO,-23.5768,-46.66390

In [15]:
df['Condições Climáticas'].value_counts()

BOM                 46154
CHUVA                4249
NUBLADO              2576
NEVOEIRO/NEBLINA      247
URBANA                  1
VENTO                   1
Name: Condições Climáticas, dtype: int64

In [21]:
df[['Condições Climáticas', 'Hora', 'Minuto','Ano', 'Mes', 'Dia', 'Dia da Semana','Município','Latitude','Longitude']].loc[df['Condições Climáticas']=='URBANA']

,Condições Climáticas,Hora,Minuto,Ano,Mes,Dia,Dia da Semana,Município,Latitude,Longitude
3830,URBANA,22.0,21.0,2020,12,22,TERÇA,RIBEIRAO PIRES,-23.7172,-46.4099

In [22]:
df.loc[10491, 'Condições Climáticas'] = 'BOM'
df.loc[3830, 'Condições Climáticas'] = 'NUBLADO'

In [23]:
df['Condições Climáticas'].value_counts()

BOM                 46155
CHUVA                4249
NUBLADO              2577
NEVOEIRO/NEBLINA      247
Name: Condições Climáticas, dtype: int64

In [24]:
df.to_csv('C:\\Users\Renato\OneDrive\Projeto_TERA\Predição Acidentes Motocicleta\Projeto-TERA-Data-Science---Acidentes-Motocicletas\CSVs\df_acidentes_sp_moto_CLEAN2.csv',index=False)