In [ ]:
#Core
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('CSVs\df_acidentes_sp_moto_CLEAN.csv',sep=',')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53234 entries, 0 to 53233
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ano                   53234 non-null  int64
 1   Mes                   53234 non-null  int64
 2   Dia                   53234 non-null  int64
 3   Dia da Semana         53234 non-null  object
 4   Turno                 53234 non-null  object
 5   Município             53234 non-null  object
 6   Jurisdição            53234 non-null  object
 7   Administração         53234 non-null  object
 8   Conservação           53234 non-null  object
 9   Latitude              53234 non-null  float64
 10  Longitude             53234 non-null  float64
 11  Condições Climáticas  53234 non-null  object
 12  Iluminação            53234 non-null  object
 13  Mão de direção        53234 non-null  object
 14  Relevo                53234 non-null  object
 15  Superfície da via     53234 non-null  object
 16  Tipo de pavimento     53234 non-null  object
 17  Tipo de pista         53234 non-null  object
 18  Traçado               53234 non-null  object
 19  Tipo de Via           53234 non-null  object
 20  Acidente Fatal        53234 non-null  int64
 21  Mes_sin               53234 non-null  float64
 22  Mes_cos               53234 non-null  float64
 23  dias_semana_num       53234 non-null  int64
 24  dias_semana_norm      53234 non-null  float64
 25  dias_semana_sin       53234 non-null  float64
 26  dias_semana_cos       53234 non-null  float64
 27  Hora                  53234 non-null  float64
 28  Minuto                53234 non-null  float64
 29  horario_float         53234 non-null  float64
 30  horario_sin           53234 non-null  float64
 31  horario_cos           53234 non-null  float64
dtypes: float64(12), int64(5), object(15)
memory usage: 13.0+ MB

In [5]:
df_pbi = df[['Ano', 'Mes', 'Dia', 'Dia da Semana', 'Turno', 'Município',
       'Jurisdição', 'Administração', 'Conservação', 'Latitude', 'Longitude',
       'Condições Climáticas', 'Iluminação', 'Mão de direção', 'Relevo',
       'Superfície da via', 'Tipo de pavimento', 'Tipo de pista', 'Traçado',
       'Tipo de Via', 'Acidente Fatal', 'Hora', 'Minuto']]

In [5]:
# df_pbi.to_csv('CSVs\df_acidentes_sp_moto_PBI.csv',index=False)

In [6]:
# importando df inicial para pesquisar problemas de lat e lon achados no PBI
df_init = pd.read_csv('CSVs\df_acidentes_sp_moto.csv',sep=',')

C:\Users\Renato\anaconda3\envs\Data_Science\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
df.loc[4381, 'Latitude'] = -23.6576625
# df.set_value(4381, 'Latitude', -23.6576625)

In [21]:
df.loc[df['Conservação']=='VIARONDON']

Empty DataFrame
Columns: [Ano, Mes, Dia, Dia da Semana, Turno, Município, Jurisdição, Administração, Conservação, Latitude, Longitude, Condições Climáticas, Iluminação, Mão de direção, Relevo, Superfície da via, Tipo de pavimento, Tipo de pista, Traçado, Tipo de Via, Acidente Fatal, Mes_sin, Mes_cos, dias_semana_num, dias_semana_norm, dias_semana_sin, dias_semana_cos, Hora, Minuto, horario_float, horario_sin, horario_cos]
Index: []

[0 rows x 32 columns]

In [20]:
df.drop(51778, inplace=True)

In [14]:
df.drop(51779, inplace=True)

In [15]:
df.drop(3084, inplace=True)
df.drop(37283, inplace=True)

In [16]:
df.drop(7798, inplace=True)
df.drop(38256, inplace=True)
df.drop(49113, inplace=True)

In [22]:
df['Conservação'].value_counts()

PREFEITURA                     46609
DR10 - São Paulo                2031
ECOVIAS                          868
NOVADUTRA                        785
VIAOESTE                         716
ECOPISTAS                        591
AUTOBAN                          496
AUTOPISTA REGIS BITTENCOURT      479
CCR RODOANEL                     369
AUTOPISTA FERNÃO DIAS            154
SPMAR                             85
DR02 - Itapetininga               43
Name: Conservação, dtype: int64

In [23]:
df[['Condições Climáticas', 'Hora', 'Minuto','Ano', 'Mes', 'Dia', 'Dia da Semana','Município','Latitude','Longitude']].loc[df['Condições Climáticas']=='CHUVA'].sample(10)

,Condições Climáticas,Hora,Minuto,Ano,Mes,Dia,Dia da Semana,Município,Latitude,Longitude
12224,CHUVA,22.0,42.0,2020,8,19,QUARTA,SAO PAULO,-23.4876,-46.65337
33800,CHUVA,18.0,15.0,2019,9,3,TERÇA,CARAPICUIBA,-23.5636,-46.82030
5163,CHUVA,20.0,24.0,2020,12,1,TERÇA,SAO PAULO,-23.5302,-46.62280
26004,CHUVA,18.0,8.0,2019,12,23,SEGUNDA,GUARULHOS,-23.4001,-46.40706
46529,CHUVA,18.0,23.0,2019,2,16,SÁBADO,SANTO ANDRE,-23.6674,-46.52494
23848,CHUVA,22.0,8.0,2020,2,2,DOMINGO,SAO PAULO,-23.7859,-46.72602
40979,CHUVA,12.0,45.0,2019,5,17,SEXTA,SAO PAULO,-23.4655,-46.57151
23310,CHUVA,6.0,48.0,2020,2,10,SEGUNDA,SAO PAULO,-23.5614,-46.47283
46082,CHUVA,17.0,50.0,2019,2,24,DOMINGO,SAO PAULO,-23.4603,-46.61248
26684,CHUVA,18.0,26.0,2019,12,14,SÁBADO,SAO PAULO,-23.4949,-46.43781

In [32]:
df['Condições Climáticas'].value_counts()

BOM                 47820
CHUVA                4249
NUBLADO               910
NEVOEIRO/NEBLINA      247
Name: Condições Climáticas, dtype: int64

In [31]:
df[['Condições Climáticas', 'Hora', 'Minuto','Ano', 'Mes', 'Dia', 'Dia da Semana','Município','Latitude','Longitude']].loc[df['Condições Climáticas']=='VENTO']

Empty DataFrame
Columns: [Condições Climáticas, Hora, Minuto, Ano, Mes, Dia, Dia da Semana, Município, Latitude, Longitude]
Index: []

In [30]:
df.loc[10491, 'Condições Climáticas'] = 'BOM'
# df.loc[3830, 'Condições Climáticas'] = 'NUBLADO'

In [33]:
df['Condições Climáticas'].value_counts()

BOM                 47820
CHUVA                4249
NUBLADO               910
NEVOEIRO/NEBLINA      247
Name: Condições Climáticas, dtype: int64

In [34]:
df.to_csv('C:\\Users\Renato\OneDrive\Projeto_TERA\Predição Acidentes Motocicleta\Projeto-TERA-Data-Science---Acidentes-Motocicletas\CSVs\df_acidentes_sp_moto_CLEAN2.csv',index=False)