In [1]:
import pandas as pd
import os
import glob
os.chdir("C:\\Users\Renato\OneDrive\Projeto_TERA\Predição Acidentes Motocicleta\Projeto-TERA-Data-Science---Acidentes-Motocicletas\Weather_API_data")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
all_filenames

['df1.csv',
 'df10.csv',
 'df11.csv',
 'df12.csv',
 'df13.csv',
 'df14.csv',
 'df15.csv',
 'df16.csv',
 'df17.csv',
 'df18.csv',
 'df19.csv',
 'df2.csv',
 'df20 .csv',
 'df21 .csv',
 'df22 .csv',
 'df23 .csv',
 'df24 .csv',
 'df25.csv',
 'df26.csv',
 'df27.csv',
 'df28.csv',
 'df29.csv',
 'df3.csv',
 'df30.csv',
 'df31.csv',
 'df32.csv',
 'df33.csv',
 'df34.csv',
 'df35.csv',
 'df36.csv',
 'df4.csv',
 'df5.csv',
 'df6.csv',
 'df7.csv',
 'df8.csv',
 'df9.csv']

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [5]:
combined_csv.set_index('Unnamed: 0',inplace=True)

In [6]:
combined_csv.sort_index(inplace=True)

In [7]:
combined_csv

,Data do Acidente,Latitude,Longitude,Condições Climáticas,Hora
Unnamed: 0,,,,,
0,2020-12-29,"-23,7464627689999","-46,803836335",Partially cloudy,9
1,2020-12-26,"-23,458778790416762","-46,48209129083817",Partially cloudy,2
2,2020-12-26,"-23,418102298841816","-46,37791152937248",Partially cloudy,0
3,2020-12-26,"-23,54191853681889","-47,01329391534144",Partially cloudy,18
4,2020-12-25,"-23,487367560249513","-46,75690361349391",Partially cloudy,6
...,...,...,...,...,...
1684,2016-12-06,"-23,538019","-46,486573","('Clear', None)",10
1685,2016-12-06,"-23,542904","-46,48162","('Clear', None)",6
1686,2016-12-05,"-23,7185444914","-46,8822947262","('Overcast', None)",2
1687,2016-12-04,"-23,630937","-46,621861","('Overcast', None)",4
1688,2016-12-04,"-23,666649","-46,576017","('Partially cloudy', None)",12