In [1]:
import pandas as pd
import os
import glob
os.chdir("C:\\Users\Renato\OneDrive\Projeto_TERA\Predição Acidentes Motocicleta\Projeto-TERA-Data-Science---Acidentes-Motocicletas\Weather_API_data")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
all_filenames

['df1.csv',
 'df10.csv',
 'df11.csv',
 'df12.csv',
 'df13.csv',
 'df14.csv',
 'df15.csv',
 'df16.csv',
 'df17.csv',
 'df18.csv',
 'df19.csv',
 'df2.csv',
 'df20 .csv',
 'df21 .csv',
 'df22 .csv',
 'df23 .csv',
 'df24 .csv',
 'df25.csv',
 'df26.csv',
 'df27.csv',
 'df28.csv',
 'df29.csv',
 'df3.csv',
 'df30.csv',
 'df31.csv',
 'df32.csv',
 'df33.csv',
 'df34.csv',
 'df35.csv',
 'df36.csv',
 'df37.csv',
 'df38.csv',
 'df39.csv',
 'df4.csv',
 'df40.csv',
 'df41.csv',
 'df42.csv',
 'df43.csv',
 'df44.csv',
 'df45.csv',
 'df46.csv',
 'df47.csv',
 'df48.csv',
 'df49.csv',
 'df5.csv',
 'df50.csv',
 'df51.csv',
 'df52.csv',
 'df53.csv',
 'df54.csv',
 'df6.csv',
 'df7.csv',
 'df8.csv',
 'df9.csv']

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [5]:
combined_csv.set_index('Unnamed: 0',inplace=True)

In [6]:
combined_csv.sort_index(inplace=True)

In [7]:
combined_csv

,Data do Acidente,Latitude,Longitude,Condições Climáticas,Hora
Unnamed: 0,,,,,
0,2020-12-29,"-23,7464627689999","-46,803836335",Partially cloudy,9
1,2020-12-26,"-23,458778790416762","-46,48209129083817",Partially cloudy,2
2,2020-12-26,"-23,418102298841816","-46,37791152937248",Partially cloudy,0
3,2020-12-26,"-23,54191853681889","-47,01329391534144",Partially cloudy,18
4,2020-12-25,"-23,487367560249513","-46,75690361349391",Partially cloudy,6
...,...,...,...,...,...
2422,2015-09-14,"-23,523764","-46,598984","('Overcast', None)",9
2423,2015-09-14,"-23,757065","-46,839592","('Overcast', None)",4
2424,2015-09-14,"-23,6024617804","-46,9316395403","('Overcast', None)",17
2425,2015-09-13,"-23,533542","-46,54044","('Overcast', None)",5
2426,2015-09-12,"-23,3309901731","-46,6942060169","('Overcast', 0.0)",15

In [8]:
# categorias no dataset original
# BOM                 43529
# CHUVA                4081
# NUBLADO               365
# NEVOEIRO/NEBLINA      242
# VENTO                   1
# URBANA                  1
combined_csv['Condições Climáticas'].value_counts()

('Partially cloudy', None)          735
Partially cloudy                    469
('Clear', None)                     442
Clear                               366
('Overcast', None)                  236
Overcast                            151
('Rain, Partially cloudy', 0.08)      5
Rain, Partially cloudy                3
('Overcast', 0.0)                     3
('Rain, Partially cloudy', 0.28)      2
Rain, Overcast                        2
('Partially cloudy', 0.0)             2
('Rain, Overcast', 0.87)              1
('Rain, Partially cloudy', 0.01)      1
('Rain, Partially cloudy', 0.63)      1
('Rain, Partially cloudy', 0.24)      1
('Rain, Partially cloudy', 0.12)      1
('Rain, Partially cloudy', 0.04)      1
Rain                                  1
('Rain, Overcast', 0.55)              1
('Rain, Partially cloudy', 0.39)      1
('Rain, Partially cloudy', 0.02)      1
Name: Condições Climáticas, dtype: int64

In [22]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2427 entries, 0 to 2426
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data do Acidente      2427 non-null   object
 1   Latitude              2427 non-null   object
 2   Longitude             2427 non-null   object
 3   Condições Climáticas  2426 non-null   object
 4   Hora                  2427 non-null   int64
dtypes: int64(1), object(4)
memory usage: 178.3+ KB

In [41]:
combined_csv['Condições Climáticas'].value_counts()

('Partially cloudy', None)          735
Partially cloudy                    469
('Clear', None)                     442
Clear                               366
('Overcast', None)                  236
Overcast                            151
('Rain, Partially cloudy', 0.08)      5
Rain, Partially cloudy                3
('Overcast', 0.0)                     3
('Rain, Partially cloudy', 0.28)      2
Rain, Overcast                        2
('Partially cloudy', 0.0)             2
('Rain, Overcast', 0.87)              1
('Rain, Partially cloudy', 0.01)      1
('Rain, Partially cloudy', 0.63)      1
('Rain, Partially cloudy', 0.24)      1
('Rain, Partially cloudy', 0.12)      1
('Rain, Partially cloudy', 0.04)      1
Rain                                  1
('Rain, Overcast', 0.55)              1
('Rain, Partially cloudy', 0.39)      1
('Rain, Partially cloudy', 0.02)      1
Name: Condições Climáticas, dtype: int64

In [62]:
# criando def function pra corrigir os nomes
# combined_csv.iloc[tuple(combined_csv['Condições Climáticas'])==('Clear', None
type(combined_csv['Condições Climáticas'])#.iloc[2425]

pandas.core.series.Series

In [52]:
strObj = 'Hi this is a sample string, a very sample string'
filteredChars = ''.join((filter(lambda x: x not in ['(', ')'], combined_csv['Condições Climáticas'].iloc[2425])))
print('Filtered Characters  : ', filteredChars)

Filtered Characters  :  'Overcast', None