In [2]:
import pandas as pd

In [3]:
df_from_API = pd.read_csv("C:\\Users\Renato\OneDrive\Projeto_TERA\Predição Acidentes Motocicleta\Projeto-TERA-Data-Science---Acidentes-Motocicletas\Weather_API_data\df_dados_API.csv")
df1=pd.read_csv('df_acidentes_sp_moto_Cyclical.csv')

In [4]:
df_from_API.info()#checando se os 3200 dados da api estão ok

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data do Acidente      3200 non-null   object
 1   Latitude              3200 non-null   object
 2   Longitude             3200 non-null   object
 3   Condições Climáticas  3200 non-null   object
 4   Hora                  3200 non-null   int64
dtypes: int64(1), object(4)
memory usage: 125.1+ KB

In [5]:
df1.info()#cond climáticas 48219, juntando espera-se ter 48219+3200+127 dropadas =51546

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58740 entries, 0 to 58739
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data do Acidente      58740 non-null  object
 1   Dia                   58740 non-null  int64
 2   Mes                   58740 non-null  int64
 3   Ano                   58740 non-null  int64
 4   Dia da Semana         58740 non-null  object
 5   Hora do Acidente      58573 non-null  object
 6   Turno                 58573 non-null  object
 7   Município             58740 non-null  object
 8   Jurisdição            58648 non-null  object
 9   Administração         58198 non-null  object
 10  Conservação           58197 non-null  object
 11  Latitude              58740 non-null  object
 12  Longitude             58740 non-null  object
 13  Condições Climáticas  48219 non-null  object
 14  Iluminação            47238 non-null  object
 15  Mão de direção        46452 non-null  object
 16  Relevo                46453 non-null  object
 17  Superfície da via     47178 non-null  object
 18  Tipo de pavimento     46453 non-null  object
 19  Tipo de pista         48460 non-null  object
 20  Traçado               46453 non-null  object
 21  Tipo de Via           58726 non-null  object
 22  Acidente Fatal        58740 non-null  int64
 23  Mes_sin               58740 non-null  float64
 24  Mes_cos               58740 non-null  float64
 25  dias_semana_num       58740 non-null  int64
 26  dias_semana_norm      58740 non-null  float64
 27  dias_semana_sin       58740 non-null  float64
 28  dias_semana_cos       58740 non-null  float64
 29  Hora                  58740 non-null  float64
 30  Minuto                58740 non-null  float64
 31  Segundo               58740 non-null  float64
 32  horario_float         58740 non-null  float64
 33  horario_sin           58740 non-null  float64
 34  horario_cos           58740 non-null  float64
dtypes: float64(11), int64(5), object(19)
memory usage: 15.7+ MB

In [6]:
#criando indice dummy no df do api
df_from_API['Index_BALA']= df_from_API['Data do Acidente']+df_from_API['Latitude']+df_from_API['Longitude']
df_from_API['Index_BALA']

0              2020-12-29-23,7464627689999-46,803836335
1       2020-12-26-23,458778790416762-46,48209129083817
2       2020-12-26-23,418102298841816-46,37791152937248
3        2020-12-26-23,54191853681889-47,01329391534144
4       2020-12-25-23,487367560249513-46,75690361349391
                             ...
3195    2015-02-18-23,404111592317488-46,57599535696205
3196                     2015-01-15-23,632392-46,472206
3197                     2014-12-28-23,555237-46,849214
3198                     2014-11-05-23,644498-46,538558
3199                     2012-06-15-23,647306-46,778984
Name: Index_BALA, Length: 3200, dtype: object

In [7]:
#criando indice dummy no df original
df1['Index_BALA']= df1['Data do Acidente']+df1['Latitude']+df1['Longitude']
df1['Index_BALA']

0                             2021-02-28-23,5059-46,3962
1                             2021-02-28-23,4831-46,4906
2                             2021-02-28-23,5183-46,6263
3            2021-02-28-23,5823389920506-46,672821094962
4                       2021-02-28-23,5281017-46,3965517
                              ...
58735    2015-02-18-23,404111592317488-46,57599535696205
58736                     2015-01-15-23,632392-46,472206
58737                     2014-12-28-23,555237-46,849214
58738                     2014-11-05-23,644498-46,538558
58739                     2012-06-15-23,647306-46,778984
Name: Index_BALA, Length: 58740, dtype: object

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58740 entries, 0 to 58739
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data do Acidente      58740 non-null  object
 1   Dia                   58740 non-null  int64
 2   Mes                   58740 non-null  int64
 3   Ano                   58740 non-null  int64
 4   Dia da Semana         58740 non-null  object
 5   Hora do Acidente      58573 non-null  object
 6   Turno                 58573 non-null  object
 7   Município             58740 non-null  object
 8   Jurisdição            58648 non-null  object
 9   Administração         58198 non-null  object
 10  Conservação           58197 non-null  object
 11  Latitude              58740 non-null  object
 12  Longitude             58740 non-null  object
 13  Condições Climáticas  48219 non-null  object
 14  Iluminação            47238 non-null  object
 15  Mão de direção        46452 non-null  object
 16  Relevo                46453 non-null  object
 17  Superfície da via     47178 non-null  object
 18  Tipo de pavimento     46453 non-null  object
 19  Tipo de pista         48460 non-null  object
 20  Traçado               46453 non-null  object
 21  Tipo de Via           58726 non-null  object
 22  Acidente Fatal        58740 non-null  int64
 23  Mes_sin               58740 non-null  float64
 24  Mes_cos               58740 non-null  float64
 25  dias_semana_num       58740 non-null  int64
 26  dias_semana_norm      58740 non-null  float64
 27  dias_semana_sin       58740 non-null  float64
 28  dias_semana_cos       58740 non-null  float64
 29  Hora                  58740 non-null  float64
 30  Minuto                58740 non-null  float64
 31  Segundo               58740 non-null  float64
 32  horario_float         58740 non-null  float64
 33  horario_sin           58740 non-null  float64
 34  horario_cos           58740 non-null  float64
 35  Index_BALA            58740 non-null  object
dtypes: float64(11), int64(5), object(20)
memory usage: 16.1+ MB

In [7]:
#criando dict para preencher no df
fill_dict = df_from_API.set_index('Index_BALA')['Condições Climáticas'].to_dict()

In [9]:
# fill_dict

In [9]:
#usando dict map
df1.loc[df1['Condições Climáticas'].isnull(), 'Condições Climáticas'] = df1['Index_BALA'].map(fill_dict)

In [10]:
df1.info() #Boa os 3200 dados foram incluidos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58740 entries, 0 to 58739
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data do Acidente      58740 non-null  object
 1   Dia                   58740 non-null  int64
 2   Mes                   58740 non-null  int64
 3   Ano                   58740 non-null  int64
 4   Dia da Semana         58740 non-null  object
 5   Hora do Acidente      58573 non-null  object
 6   Turno                 58573 non-null  object
 7   Município             58740 non-null  object
 8   Jurisdição            58648 non-null  object
 9   Administração         58198 non-null  object
 10  Conservação           58197 non-null  object
 11  Latitude              58740 non-null  object
 12  Longitude             58740 non-null  object
 13  Condições Climáticas  51546 non-null  object
 14  Iluminação            47238 non-null  object
 15  Mão de direção        46452 non-null  object
 16  Relevo                46453 non-null  object
 17  Superfície da via     47178 non-null  object
 18  Tipo de pavimento     46453 non-null  object
 19  Tipo de pista         48460 non-null  object
 20  Traçado               46453 non-null  object
 21  Tipo de Via           58726 non-null  object
 22  Acidente Fatal        58740 non-null  int64
 23  Mes_sin               58740 non-null  float64
 24  Mes_cos               58740 non-null  float64
 25  dias_semana_num       58740 non-null  int64
 26  dias_semana_norm      58740 non-null  float64
 27  dias_semana_sin       58740 non-null  float64
 28  dias_semana_cos       58740 non-null  float64
 29  Hora                  58740 non-null  float64
 30  Minuto                58740 non-null  float64
 31  Segundo               58740 non-null  float64
 32  horario_float         58740 non-null  float64
 33  horario_sin           58740 non-null  float64
 34  horario_cos           58740 non-null  float64
 35  Index_BALA            58740 non-null  object
dtypes: float64(11), int64(5), object(20)
memory usage: 16.1+ MB

In [20]:
#dropando colunas que não precisaremos mais
df1.drop(columns=['Data do Acidente','Hora do Acidente','Index_BALA'],axis=1,inplace=True)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58740 entries, 0 to 58739
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dia                   58740 non-null  int64
 1   Mes                   58740 non-null  int64
 2   Ano                   58740 non-null  int64
 3   Dia da Semana         58740 non-null  object
 4   Turno                 58573 non-null  object
 5   Município             58740 non-null  object
 6   Jurisdição            58648 non-null  object
 7   Administração         58198 non-null  object
 8   Conservação           58197 non-null  object
 9   Latitude              58740 non-null  object
 10  Longitude             58740 non-null  object
 11  Condições Climáticas  51546 non-null  object
 12  Iluminação            47238 non-null  object
 13  Mão de direção        46452 non-null  object
 14  Relevo                46453 non-null  object
 15  Superfície da via     47178 non-null  object
 16  Tipo de pavimento     46453 non-null  object
 17  Tipo de pista         48460 non-null  object
 18  Traçado               46453 non-null  object
 19  Tipo de Via           58726 non-null  object
 20  Acidente Fatal        58740 non-null  int64
 21  Mes_sin               58740 non-null  float64
 22  Mes_cos               58740 non-null  float64
 23  dias_semana_num       58740 non-null  int64
 24  dias_semana_norm      58740 non-null  float64
 25  dias_semana_sin       58740 non-null  float64
 26  dias_semana_cos       58740 non-null  float64
 27  Hora                  58740 non-null  float64
 28  Minuto                58740 non-null  float64
 29  Segundo               58740 non-null  float64
 30  horario_float         58740 non-null  float64
 31  horario_sin           58740 non-null  float64
 32  horario_cos           58740 non-null  float64
dtypes: float64(11), int64(5), object(17)
memory usage: 14.8+ MB

PREENCHEDO SUPERFICIE DA VIA

In [15]:
df1['Superfície da via'].unique()

array([nan, 'MOLHADA', 'SECA', 'OLEOSA', 'OUTRAS', 'INUNDADA',
       'ENLAMEADA'], dtype=object)

In [13]:
df1[['Superfície da via','Condições Climáticas']]

      Superfície da via Condições Climáticas
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3               MOLHADA                  BOM
4                  SECA                  BOM
...                 ...                  ...
58735               NaN              NUBLADO
58736               NaN              NUBLADO
58737               NaN                  BOM
58738               NaN              NUBLADO
58739               NaN              NUBLADO

[58740 rows x 2 columns]

In [14]:
df1['Condições Climáticas'].unique()

array([nan, 'BOM', 'CHUVA', 'NUBLADO', 'NEVOEIRO/NEBLINA', 'URBANA',
       'VENTO'], dtype=object)

In [16]:
def fill_sup(sup,clima):
    if sup.isnull():
        if clima=='BOM':
            sup='SECA'
        if clima=='NUBLADO':
            sup='SECA'
        if clima=='NEVOEIRO/NEBLINA':
            sup='SECA'
        if clima=='CHUVA':
            sup='MOLHADA'
    return sup

In [ ]:
df1=df1.apply()